.banner{
    /* background-image: url('https://www.mystudyindia.com/storage/colleges/banners/XstC3Q_1613032668.webp');  */
    background-size: cover;
    height:800px;
    color:rgb(174, 32, 32);
    padding-top: 200px;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    
    
}

.fade_bottom{
    height:600px;
    width: 1537px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}